/* UserProfile.css */
.user-profile-con{
  height: 700px;
}
.user-profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .user-profile-container div {
    margin-bottom: 15px;
  }
  
  .user-profile-container p {
    font-size: 16px;
    margin: 8px 0;
  }
  
  .user-profile-container a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .user-profile-container a:hover {
    text-decoration: underline;
  }
  